[submodule "confd"]
	path = confd
	url = git://github.com/aegypius/docker-confd.git
[submodule "etcd"]
	path = etcd
	url = git://github.com/aegypius/docker-etcd.git
[submodule "mailcatcher"]
	path = mailcatcher
	url = git://github.com/aegypius/docker-mailcatcher.git
[submodule "repoman"]
	path = repoman
	url = git://github.com/aegypius/docker-repoman.git
