[submodule "confd"]
	path = confd
	url = git://github.com/aegypius/docker-confd.git
[submodule "etcd"]
	path = etcd
	url = git://github.com/aegypius/docker-etcd.git
[submodule "nginx"]
	path = nginx
	url = git://github.com/aegypius/docker-nginx.git
[submodule "mailcatcher"]
	path = mailcatcher
	url = git://github.com/aegypius/docker-mailcatcher.git
